<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Deputad@</th>
      <th scope="col">Partido</th>
      <th scope="col">Total de Gastos</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <% deputies.each.with_index(1) do |deputy, index| %>
      <tr>
        <td><%= index %></td>
        <td><%= deputy.name %></td>
        <td><%= deputy.party %></td>
        <td><%= number_to_currency(deputy.total, unit: "R$ ", separator: ",", delimiter: "") %></td>
        <td><%= link_to 'Detalhar gastos', deputy_expenses_path(deputy.registration) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
